.footer{
    position: fixed;
    bottom: 0;
    width: 1200px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: lightgray;
    color: grey;
   
}

.footer img{
    width: 30px;
    height: auto;
    padding-top: 5px;
}

.footer p{
    margin: 0;
}