.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 500px;
    padding: 5px 20px;
}

.from h1{
    border-bottom: 1px solid white;
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px;
    text-align: center;
}

.form input{
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}

.form label {
    color: #3d3d3d;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
}

.form input[type=submit]{
    color: white;
    background-color: darkgreen;
    margin: 5px 0px;
    width: 80px;
}

.form input[type=textarea]{
    height: 80px;
}

.form2{

    display: grid;
    grid-template-columns: 245px 245px;
    grid-template-rows: 60px 60px;
    grid-column-gap: 10px;
    max-width: 500px;
}

.form2 input[type=submit]{
    background: white;
    color: darkgreen;
    border: 1px solid green;
    margin: 2px 0;
    height: 30px;
    

}



